<header>
  <nav>
    <app-nav-bar></app-nav-bar>
  </nav>
</header>

<h3 class="center">Autores</h3>

<button (click)="toCriarAutor()" class=" float-right button-small">Adicionar Novo Autor</button>

<table class="shadow">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th class="float-right" id="th_acoes">ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let autor of autores">
      <td>{{autor.id}}</td>
      <td>{{autor.name}}</td>
      <div class="float-right">
        <td>
          <button (click)="editarAutor(autor.id)">Editar</button>
          <button (click)="deletarAutor(autor.id)">Deletar</button>
        </td>
      </div>
    </tr>
  </tbody>
</table>