<div class="container">
  <div class="container">
    <div class="row center">
      <h1><span class="pln">Minha Bliblioteca</span></h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="column">
      <a class="button" routerLink="login">
        <span class="pln">Login</span>
      </a>
    </div>
    <div class="column">
      <a class="button" href="#">
        <span class="pln">Youtube</span>
      </a>
    </div>
    <div class="column">
      <a class="button" href="#">
        <span class="pln">GitHub</span>
      </a>
    </div>
  </div>
</div>
<router-outlet />